body {
	padding-top: 70px;
	font-family: sans-serif;
}

div.content{
	margin: 0px auto;
	width: 920px;
	text-align: center;
}

div.register-form{
	text-align: left;
}

div.row{
	margin: 10px auto;
}

div.overview{
	margin: 24px auto;
	font-size: 20px;
	font-weight: normal;
}

span.header-link{
	margin: 0 16px;
}

#content-header{
	margin: 0 auto;
	font-size: 48px;
	text-align: center;
	font-weight: bold;
	color: #777;
	display: inline;
}

#content-header a:link{
	color: #777;
}

#content-header a:visited{
	color: #777;
}

#content-header a:hover{
	color: #777;
	text-decoration: none;
}

#content-header a:active{
	color: #777;
}

#header-link-area{
	margin: 24px auto;
	font-size: 16px;
	font-weight: normal;
}

#mobile-header{
	display: none;
}

#article-title{
	font-weight: bold;
	text-align: left;
	font-size: 32px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#article-publish-date{
	text-align: left;
	font-size: 16px;
}

#article-content{
	line-height: 30px;
	text-align: left;
	font-size: 16px;
	margin-bottom: 120px;
}

#article-content h2{
	font-size: 26px;
	margin-top: 48px;
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
}

#article-content h3{
	margin-top: 44px;
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
}

#article-content h4{
	margin-top: 20px;
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
}

#article-content pre{
	margin-top: 16px;
	margin-bottom: 16px;
}

#article-content li{
	line-height: 24px;
}

#article-content ul{
	margin: 0 0 24px 24px;
	padding: 0;
}

#register-btn{
	float: right;
	width: 120px;
	height: 50px;
}

#footer-content{
	margin: 20px auto;
	width: 90%;
}

.content-border{
	margin-top: 12px;
	margin-bottom: 32px;
}

.footer-right{
	float: right;
}

.footer-left{
	float: left;
}

.error-message{
	color: red;
}

.success-message{
	color: green;
}

.clearbox {
	clear: both;
	height: 20px;
}

@media screen and ( max-width: 480px ){

	body {
		padding-top: 70px;
		font-family: sans-serif;
	}

	div.content{
		margin: 0px auto;
		padding: 0px 8px;
		width: 100%;
		text-align: center;
	}

	div.overview{
		font-size: 14px;
	}

	#content-header{
		display: none;
	}

	#mobile-header{
		background-color: #fff;
		display: inline-block;
	}

	#header-link-area{
		display: none;
	}

	#article-publish-date{
		font-size: 14px;
	}

	#article-title{
		font-size: 18px;
	}

	#article-content{
		font-size: 14px;
	}

	#article-content h2{
		font-size: 18px;
	}

	#article-content h3{
		font-size: 18px;
	}

	code{
		font-size: 12px;
	}
}
